/* Use your own code or past solution for Great Idea Web Page CSS here! */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	max-width:100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
/* setting up body margin */




body {
	width:60%;
	margin:0 auto;
	
}



	/* nav */

nav {
	display:flex;
	justify-content: space-between;
	
	height:20vh;
	align-items: center;

	
}

.links{
    display:flex;
    justify-content:space-between;
    width:70%
}

.logo-container {
    width:20%;
}
/* nav menu items */

nav a{
	text-decoration: none;
	color: grey;
}


/* section 1 */
.section1{
	display:flex;
	justify-content: space-evenly;
	
	

}	
	.intro{
		width: 45%;
    	text-align: center;
    	padding:5% 2%;
	}
	/* h1 font-size */
	h1 {
		font-size: 600%;
		
		text-align: center;
		letter-spacing: 1px;
	}
	/* button */
	.intro button {
	
	border: 1px solid black;
	padding:2%;
	font-size:120%;
	}
	/* image */
	/* x1 */
   .intro .code-image{
        max-width:100%;
   }
    
/* section 2 */


.section2 {
	display: flex;
	justify-content:space-between ;
	border-top: 1px solid black;
	height:80vh;
	align-items:flex-end;
	flex-wrap: wrap;
}
/* div .details width adjustment */
.details {
   
	width:45%;
  	
}
/* .picture width adjustment */
.picture {
	width:100%;
}
/* center img */
.middle-img{
	width:100%;
}
/* section 3 */
.section3 {
	display:flex;

}
.additional-info {
	
	width:30%;
}

.contact{
	padding-top:5%;
	border-top:1px solid black;
	margin-top:2%;
}

footer{
	padding:2%;
	text-align: center;
}

.contact{
	display:flex;
	flex-wrap:wrap;
}

/* Services page Css begins here */


/* section top	 */
.top{
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid black;
	margin-bottom:5%;
	
}
	/* div  */
	.top div{
		margin-bottom:2%;
	}
	/* image */
	.services-header-img{
		width:100%;
	}

/* .main section */
.main {
	display:flex;
	flex-wrap:wrap;
	justify-content: space-between;
	border-bottom: 1px solid black;
	margin-bottom:5%;
}
	/* main-div divs */
	.main-div {
		width: 45%;
		height: 45%;
		margin-bottom: 2%;
		border: 1px solid grey;
		padding: 2%;
		background:#F5F5F5;
	}


	.learn-more{
		display:block;
		width:40%;
		text-decoration:none;
		padding:2%;
		background: white;
		border: 1px solid grey;
		border-radius:5%;
		margin-top:5%;
		color:black;
	}
/* bottom section */
.bottom{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border-bottom: 1px solid black;
	margin-bottom:5%;
}

.bottom-div{
	width: 45%;
    height: 45%;
	margin-bottom: 2%;
	
   
    
    
}

/* img */
.services-info-img{
	width:100%;
}

/* bullet styling */
.square{
	margin-top:2%;
}
.square li {
	list-style-type: square;
	padding:2%;
	margin-left:5%;

}


@media all and (max-width: 800px) {

    body{
        width:80%;
    }
    header {
        header:2vh;
    }
    nav{
        
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        
    }
    nav div{
        margin:2%;
    }
    .intro{
        width: 100%;
        text-align: center;
       
    }
    .intro-sub{
        width:100%;
        padding:0 35%; 
        text-align:center;
       
    }

    .intro .code-image{
        display:none;
   }

   .section1{
       display:block;
       text-align: center;
       height:40vh;

   }

   h1 {
    font-size: 300%;
    
    text-align: center;
    letter-spacing: 1px;
}
   
	
	
	
  }
